body {
    margin: 0 auto;
    width: 700px;
    font-family: "Lucida Grande", Arial, sans-serif;
}

opt-in {
    display: block;
    margin-top: 5em;
    padding: 1.2em;
    border: 2px solid #000;
}

.opt-in {
    width: 100%;
}

.opt-in > div {
    width: 40%;
}

form {
    width: 60%;
    float: right;
    padding-top: 5em;
}

.brand-logo {
    background-image: url("images/1438751889.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    width: 200px;
    height: 300px;
    margin-right: 20px;
}

input {
    border: 1px solid #000;
    box-sizing: border-box;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 1em;
}

input[type="text"] {
    width: 45%;
}

input[type="email"] {
    width: 91%;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: .2em .5em;
    margin: 0 auto;
    width: 91%;
}
